/* Styles for the pop-up message */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    margin-bottom: 20px;
    text-align: center;
}

.form-container form {
    display: inline-block;
}

.form-container input[type="submit"] {
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form-container input[type="submit"]:hover {
    background-color: #0069d9;
}

.date-range-container {
    text-align: center;
    margin-bottom: 10px;
}

.language-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}


/* Styles for the pop-up close button */

#popup-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: auto;
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 9999;
    text-align: center;
}

#popup-message.hidden {
    display: none;
}


#popup-message.success {
    border-color: #8bc34a;
}

#popup-message.success #popup-message-content {
    color: #8bc34a;
}

#popup-message.error {
    border-color: #f44336;
}

#popup-message.error #popup-message-content {
    color: #f44336;
}

/* Styles for the pop-up close button */
.popup-message-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.7;
}

#popup-message.success .popup-message-close:before,
#popup-message.success .popup-message-close:after {
    background-color: #8bc34a;
}

#popup-message.error .popup-message-close:before,
#popup-message.error .popup-message-close:after {
    background-color: #f44336;
}

.popup-message-close:before,
.popup-message-close:after {
    position: absolute;
    content: ' ';
    height: 8px;
    width: 1px;
    opacity: 0.7;
}

.popup-message-close:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.popup-message-close:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

